body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
    color: #333;
}
header {
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
header img{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 60%;
    margin-right: 900px;
    top:10px;
    right:10px;
}
section {
    padding: 2em;
    max-width: 800px;
    margin: auto;
}
#projects a {
    display: inline-block;
    color: #f326b9;
    font-weight: bold;
}
h4 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 0.5em;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form label {
    margin-top: 1em;
}
.contact-form input,
.contact-form textarea {
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contact-form button {
    background-color: #007bff;
    color: white;
    padding: 0.75em 1em;
    border: none;
    cursor: pointer;
    margin-top: 1em;
}
.cv-download a{
    background-color: #007bff;
    color: white;
    padding: 0.75em 1em;
    border-radius: 4px;
    text-decoration: none;
}
.contact-details {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.contact-details img {
    width: 20px;
    height: 20px;

}
.contact-form {
    flex: 1;
}
.contact-info {
    flex: 1;
}
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
